<DOCTYPE html>
<html>

<head> 

    <meta charset=""utf-8>
       <meta charset ="utf-8">
    <link rel="stylesheet" href={{ url_for('static', filename ='style.css') }}>
</head>


 

<body>


    <div class="page-content">

    <h1>How well do you know Bryce!</h1>


   

 <form action="/submit" method="POST">

      <!-- Dropdown Menu -->
      <label for="favorite_hobby">Favorite Hobby:</label>
      <select id="favorite_hobby" name="favorite_hobby" required>
          <option value="Soccer">Soccer</option>
          <option value="Mango">Mango</option>
          <option value="Videogames">Playing videogames, obviously</option>
          <option value="Music">Listening to MGS track</option>
          <option value="Anime">Watching Anime</option>
      </select><br><br>

      <label for="favorite_color">Favorite Color:</label>
      <select id="favorite_color" name="favorite_color" required>
          <option value="Olive_Green">Olive Green</option>
          <option value="Mango">Mango</option>
          <option value="Green">Green</option>
          <option value="Neon_Green">Neon Green</option>
          <option value="Forest Green">Forest Green</option>
      </select><br><br>
      
      <label for="favorite_game">Favorite Game:</label>
      <select id="favorite_game" name="favorite_game" required>
          <option value="Death_road_to_canada">Death Road to Canada</option>
          <option value="Clover_pit">Clover pit</option>
          <option value="Slay_the_spire">Slay the spire</option>
          <option value="Terreria">Terreria</option>
          <option value="Minecraft">Minecraft</option>
      </select><br><br>

      <label for="favorite_food">Favorite Food:</label>
      <select id="favorite_food" name="favorite_food" required>
          <option value="Pizza">Pizza</option>
          <option value="Mac_and_Cheese">Mac and cheese</option>
          <option value="Burritos">Burritos</option>
          <option value="Mango_Chicken">Mango Chicken</option>
          <option value="Chimichangas">Chimichangas</option>
      </select><br><br>


      <h2> FINAL CHALLENGE </h2>
    
  
      <!-- Text Input -->
    <label for="middle_name">What is Bryce's Middle Name?:</label>
       <input type="text" id="middle_name" name="" required><br><br>
  
      <!-- Submit Button -->
      <button type="submit">Submit</button>
  </form>


</div>

<footer> 
    <p> coded by Jackson &copy; 2026 </p>
</footer>
 
</body>



</html>